@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="ibox-content">
            <h2 class="font-bold text-center">@SharedLocalizer.GetLocalizedValue("ChangePassword")</h2>
           
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-lg-12">
                    <form asp-action="ChangePassword" asp-controller="Account" class="m-t" role="form" method="post">
                        <div class="form-group">
                            <span class="text-danger" asp-validation-for="OldPassword"></span>
                            <input asp-for="OldPassword" type="password" class="form-control" placeholder="@SharedLocalizer.GetLocalizedValue("Password")">
                        </div>

                        <div class="form-group">
                            <span class="text-danger" asp-validation-for="OldPasswordAgain"></span>
                            <input asp-for="OldPasswordAgain" type="password" class="form-control" placeholder="@SharedLocalizer.GetLocalizedValue("PasswordAgain")">
                        </div>

                        <div class="form-group">
                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                            <input asp-for="NewPassword" type="password" class="form-control" placeholder="@SharedLocalizer.GetLocalizedValue("NewPassword")">
                        </div>

                        <div class="form-group">
                            <span class="text-danger" asp-validation-for="NewPasswordAgain"></span>
                            <input asp-for="NewPasswordAgain" type="password" class="form-control" placeholder="@SharedLocalizer.GetLocalizedValue("NewPassword")">
                        </div>

                        <button type="submit" class="btn btn-outline btn-primary block full-width m-b">@SharedLocalizer.GetLocalizedValue("ChangePassword")</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>

