@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QR MENU</title>
    <link rel="shortcut icon" type="image/png" href="~/images/favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/chapterTitle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/iCheck/square/red.css">
</head>

<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="col-lg-6 ibox-content" id="lg-land" style="background-image: url('/images//qr-menu.jpg'); background-size: cover;">
            </div>
            <div class="col-lg-6" id="loginBox">
                <div class="col-md-12 ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <br>
                    <div class="enhanced-hr enhanced-hr-2">
                        <span>WELCOME  @ViewData["MessageRe"] </span>
                    </div>
                    <br>
                    <form asp-controller="Account" asp-action="Login" method="post" class="m-t">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div> <span asp-validation-for="UserName" class="text-danger"></span>
                        <div class="form-group">
                            <input asp-for="UserName" placeholder="@SharedLocalizer.GetLocalizedValue("Username")" class="form-control">
                        </div> <span asp-validation-for="Password" class="text-danger"></span>
                        <div class="form-group">
                            <input asp-for="Password" type="password" placeholder="@SharedLocalizer.GetLocalizedValue("Password")" class="form-control">
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="RmemberMe" class="text-danger"></span>
                            <div class="form-check i-checks"
                                 style="position: relative;">
                                <label>
                                    <input asp-for="RmemberMe" type="checkbox" class="i-checks" style="position: absolute; opacity: 0;">
                                    <span class="ml-1 mt-1">@SharedLocalizer.GetLocalizedValue("RememberMe")</span>
                                </label>
                            </div>
                        </div>
                        <button type="submit" onclick="startLogin()" class="btn btn-outline btn-primary btn-block">
                            <span>@SharedLocalizer.GetLocalizedValue("Login").ToString().ToUpper()</span>
                        </button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">Copyright</div>
            <div class="col-lg-6 text-right">
                <small><span>Photo by <a target="_blank" href="https://unsplash.com/@@alberthu?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Albert Hu</a> on <a target="_blank" href="https://unsplash.com/s/photos/qr-restaurant?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> | &#xA9; 2023</small>

            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-red',
                radioClass: 'iradio_square-red',
                increaseArea: '20%' /* optional */
            });

            if (detectMob()) {
                $('#lg-land').css('display', 'none');
            } else {
                $('#lg-land').css('display', 'block');
            }
        });

        function detectMob() {
            const toMatch = [
                /Android/i,
                /webOS/i,
                /iPhone/i,
                /iPad/i,
                /iPod/i,
                /BlackBerry/i,
                /Windows Phone/i
            ];

            return toMatch.some((toMatchItem) => {
                return navigator.userAgent.match(toMatchItem);
            });
        }


        const startLogin = () => {
            $('#loginBox').children('.ibox-content').toggleClass('sk-loading');
        }
    </script>
</body>
</html>