
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@section Styles{
    <style>
        label {
            font-weight: bold;
        }
    </style>
}

@section Scripts {
    <script src="/lib/jasny/jasny-bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#incomeRequests').toggleClass('active');
            document.getElementById('thirdStep').style.display = "none";
        });


        const registerRestaurant = (event) => {
            event.preventDefault();
            $('#boxRR').children('.ibox-content').toggleClass('sk-loading');

            document.getElementById('ManagerUserName').innerText = "";
            document.getElementById('ManagerName').innerHTML = "";
            document.getElementById('ManagerSurname').innerHTML = "";
            document.getElementById('ManagerEmail').innerHTML = "";
            document.getElementById('ManagerPhone').innerHTML = "";
            document.getElementById('ManagerPassword').innerHTML = "";
            document.getElementById('PasswordAgain').innerHTML = "";
            document.getElementById('RestaurantName').innerHTML = "";
            document.getElementById('RestaurantDescription').innerHTML = "";
            document.getElementById('RestaurantPhone').innerHTML = "";
            document.getElementById('RestaurantAdress').innerHTML = "";
            document.getElementById('RestaurantUrl').innerHTML = "";
            

            let data = {
                ManagerUserName: $('#txtManagerUserName').val(),
                ManagerName: $('#txtManagerName').val(),
                ManagerSurname: $('#txtManagerSurname').val(),
                ManagerEmail: $('#txtManagerEmail').val(),
                ManagerPhone: $('#txtManagerPhone').val(),
                ManagerPassword: $('#txtManagerPassword').val(),
                PasswordAgain: $('#txtPasswordAgain').val(),
                RestaurantName: $('#txtRestaurantName').val(),
                RestaurantDescription: $('#txtRestaurantDescription').val(),
                RestaurantPhone: $('#txtRestaurantPhone').val(),
                RestaurantAdress: $('#txtRestaurantAdress').val(),
                RestaurantUrl: $('#txtRestaurantUrl').val()
            }

            $.ajax({
                type: "POST",
                url: "/Admin/account/restaurantRegister",
                data: data,
                success: function (response) {
                    let responseArray = [];
                    if (response.includes("?")) {
                        responseArray = response.split('?');
                    } else {
                        responseArray[0] = "400";
                    }
                    
                    if (responseArray[0] === "200") {
                        document.getElementById('registerForm').style.display = "none";
                        $("#thirdStepBox").toggleClass('btn-primary');
                        document.getElementById('thirdStepText').style.color = "#D9534F";
                        document.getElementById('thirdStep').style.display = "block";
                        getSuccessNotification(responseArray[1]);
                    } else {
                        for (var i = 0; i < response.length; i++) {
                            document.getElementById(response[i].propertyName).innerText = response[i].errorMessage;
                        }
                    }
                    $('#boxRR').children('.ibox-content').toggleClass('sk-loading');
                },
                error: function (error) {
                    $('#boxRR').children('.ibox-content').toggleClass('sk-loading');
                    alert('Check your internet connection.');
                }
            });
        }
    </script>
}

<div class="ibox no-margins" id="boxRR">
    <div class="first ibox-content" style="border-top:none;">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
        <input hidden id="selectedCompanyId">
        <div class="row text-center">
            <div class="col-lg-4">
                <button class="btn btn-primary b-r-lg" style="pointer-events:none;"><span class="fa fa-clock-o fa-3x"></span></button>
                <br>
                <label style="color:#D9534F;">1. @SharedLocalizer.GetLocalizedValue("RegisterForm")</label>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-secondary b-r-lg" id="thirdStepBox" style="pointer-events:none;"><span class="fa fa-check fa-3x"></span></button>
                <br>
                <label id="thirdStepText">2. @SharedLocalizer.GetLocalizedValue("Done")</label>
            </div>
        </div>
        <br>
        <div class="container">
            <form id="registerForm">
                <strong class="text-danger" id="bookValidation"></strong>
                <div class="row">
                    <div class="col-lg-12 control">
                        <label class="form-col-form-label" for="">@SharedLocalizer.GetLocalizedValue("RestaurantManagerAccountDetails")</label>
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:80%"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group form-material col-xl-6">
                        <label class="form-col-form-label">
                            @SharedLocalizer.GetLocalizedValue("ManagerUsername")* <strong id="ManagerUserName" class="text-danger"></strong>
                        </label>
                        <input id="txtManagerUserName" type="text" placeholder="hammaBurger, classRest ..." class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-material col-xl-6">
                        <label class="form-col-form-label">
                            @SharedLocalizer.GetLocalizedValue("ManagerName")* <strong id="ManagerName" class="text-danger"></strong>
                        </label>
                        <input id="txtManagerName" type="text" placeholder="Emilie, Mike" class="form-control">
                    </div>
                    <div class="form-group form-material col-xl-6">
                        <label class="form-col-form-label">
                            @SharedLocalizer.GetLocalizedValue("ManagerSurname")* <strong id="ManagerSurname" class="text-danger"></strong>
                        </label>
                        <input id="txtManagerSurname" type="text" placeholder="Fopro, Henry" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-material col-xl-6">
                        <label class="form-col-form-label">
                            @SharedLocalizer.GetLocalizedValue("ManagerEmail")* <strong id="ManagerEmail" class="text-danger"></strong>
                        </label>
                        <input id="txtManagerEmail" type="text" placeholder="example@hotmail.com"
                               class="form-control">
                    </div>

                    <div class="form-group form-material col-xl-6">
                        <label class="form-col-form-label">
                            @SharedLocalizer.GetLocalizedValue("ManagerPhone")* <strong id="ManagerPhone" class="text-danger"></strong>
                        </label>
                        <input data-mask="(999) 999-9999" id="txtManagerPhone" type="text" class="form-control" placeholder="3453..">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-material col-xl-6">
                        <label class="form-col-form-label">
                            @SharedLocalizer.GetLocalizedValue("TemporaryPassword")* <strong id="ManagerPassword" class="text-danger"></strong>
                        </label>
                        <input id="txtManagerPassword" type="password" placeholder="****"
                               class="form-control">
                    </div>

                    <div class="form-group form-material col-xl-6">
                        <label class="form-col-form-label">
                            @SharedLocalizer.GetLocalizedValue("PasswordAgain")* <strong id="PasswordAgain" class="text-danger"></strong>
                        </label>
                        <input id="txtPasswordAgain" type="password" placeholder="****"
                               class="form-control">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12 control">
                        <label class="form-col-form-label" for="">@SharedLocalizer.GetLocalizedValue("RestaurantDetails")</label>
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:80%"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group form-material col-xl-6">
                        <label class="form-col-form-label">
                            @SharedLocalizer.GetLocalizedValue("RestaurantUrl") * <strong id="RestaurantUrl" class="text-danger"></strong>
                        </label>
                        <input id="txtRestaurantUrl" type="text" class="form-control" placeholder="@SharedLocalizer.GetLocalizedValue("RestaurantUrl")">
                    </div>
                    <div class="form-group form-material col-xl-6">
                        <label class="form-col-form-label">
                            @SharedLocalizer.GetLocalizedValue("RestaurantName") * <strong id="RestaurantName" class="text-danger"></strong>
                        </label>
                        <input id="txtRestaurantName" type="text" class="form-control" placeholder="@SharedLocalizer.GetLocalizedValue("RestaurantName")">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-material col-xl-6">
                        <label class="form-col-form-label">
                            @SharedLocalizer.GetLocalizedValue("RestaurantDescription")* <strong id="RestaurantDescription" class="text-danger"></strong>
                        </label>
                        <textarea rows="3" id="txtRestaurantDescription" type="text" class="form-control" placeholder="@SharedLocalizer.GetLocalizedValue("RestaurantDescription")"></textarea>
                    </div>
                    <div class="form-group form-material col-xl-6">
                        <label class="form-col-form-label">
                            @SharedLocalizer.GetLocalizedValue("Address")* <strong id="RestaurantAdress" class="text-danger"></strong>
                        </label>
                        <textarea id="txtRestaurantAdress" class="form-control" rows="3" placeholder="@SharedLocalizer.GetLocalizedValue("Address")"></textarea>
                    </div>
                </div>
                <div class="row">                    
                    <div class="form-group form-material col-xl-6">
                        <label class="form-col-form-label">
                            @SharedLocalizer.GetLocalizedValue("Phone")* <strong id="RestaurantPhone" class="text-danger"></strong>
                        </label>
                        <input maxlength="20" data-mask="(999) 999-9999" id="txtRestaurantPhone" type="text" class="form-control" placeholder="3453..." />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="container">
                        <button onclick="registerRestaurant(event)" class="btn btn-outline btn-primary btn-block"> @SharedLocalizer.GetLocalizedValue("Save")</button>
                    </div>
                </div>
            </form>

            <div class="row" id="thirdStep">
                <div class="col-lg-2"></div>
                <div class="col-xl-8">
                    <div class="widget style1 navy-bg">
                        <div class="row vertical-align">
                            <div class="col-1">
                                <i class="fa fa-thumbs-up fa-3x"></i>
                            </div>
                            <div class="col-11 text-right m-t-sm">
                                <h3 class="font-bold"> @SharedLocalizer.GetLocalizedValue("SuccessProcess") </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>

    </div>
    <br />
    <br />
</div>